<div class="container-bg">
	

   <div class="image-container" style="height:200px;overflow:hidden;background:url(<%= asset_path @issue.avatar.url%>);width:100%;" >
   	</p>
   		<h1 style="margin:90px 0 0 20px;color:#fff"><%= @issue.title %></h1>
   		<em style="margin-left:20px;color:#fff"><small>Published: <%= time_ago_in_words(@issue.updated_at) %> ago</small></em>

  </div>
<!--Total Articles: <%= @issue.articles.count %>
<hr/>-->
<!-- New code -->

<%#= @issue.articles.first.title %>

<%# @issue.articles.each_with_index do |article, index| %>
    <!-- only show first article -->
    <%# if index == 0 %>
    	<!-- <h3><%#= article.title %></h3>
        <p><%#= article.content.html_safe %></p> -->
        <!-- first quiz -->
        <%#= form_tag do %>
		 <!-- <h2><%#= article.quiz.question %></h2>-->

	      <%#= hidden_field_tag :quiz_id, article.quiz.id %> 

		 <!-- <div class="field">
		    <%#= text_field_tag(:user_answer) %>
		  </div>-->
		  
		  <!--<div class="actions">
		    <%#= submit_tag("Submit") %>
		  </div>-->

   			<%# if article.quiz.user_answer == article.quiz.corret_answer %>
   			<!--	<p>Hooray!</p>
   				<%# index += 1 %>
   		    <%# else %>
   		       <p>Boo!</p>

   			<%# end %>
	    <%# end %>-->
    <%# else %>
      <%# if article.quiz.user_answer == article.quiz.corret_answer %>
        <!--<h3><%#= article.title %></h3>
        <p><%#= article.content.html_safe %></p>-->
        <%# end %>
  	<%# end %>
<%# end %>


<!-- Old code -->
<% @issue.articles.each do |article| %>
  <div class="col-md-8">
	<h3><%= article.title %></h3>
    <p><%= article.content.html_safe %></p>
    <p><%= link_to 'Edit', edit_article_path(article) %></p>

   </div>
	   <div class="col-md-4">
	   	<% if article.quiz != nil %>

		<br/>
	    <div class="well">
		  <h3>Q: <%= article.quiz.question %></h2>
		  
		  <h3>A: <%= article.quiz.corret_answer %>.</h2>
	  
		  <% if article.quiz.video != '' %>
	        <iframe width="300" height="215" src="//<%= article.quiz.video %>" frameborder="0" allowfullscreen></iframe>
	      <% end %>
	       <p><%= link_to 'Edit', edit_quiz_path(article.quiz) %></p>

	    <% end %>
	   </div>
  </div>
    <br clear="all"/>
  <hr/>
<% end %>




<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>

</div>