<h2><%= @issue.title %></h2>
<h5><%= time_ago_in_words(@issue.updated_at) %> ago</h5>


<p><%= image_tag @issue.avatar.url(:thumb) %></p>

<p>
  <%= @issue.description %>
</p>


<% @issue.articles.each do |article| %>
	<h3><%= article.title %></h3>
    <p><%= article.content.html_safe %></p>
<% end %>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
